:root {
    /* color */
    --color-black : #0F0F0F;
    --color-navy : #163172;
    --color-blue : #1E56A0;
    --color-lightblue : #d6e4f0;
    --color-beige : #F6F6F6;
}
main{
    height: 1000px;
    padding-top: 10%;
    display: flex;
}

table thead tr:first-child {
    color: white;
}
table td {
    border-collapse: collapse;
    width: 400px;
    height: 80px;
    border-bottom: 1px solid lightgray; 
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
}
table thead tr:first-child{
    background-color: var(--color-navy);
}
table tr{
    background-color: white;
    
}
tbody tr:hover{
	background-color: lightgray;
}
 td:nth-child(2) {
    /* 여기에 원하는 스타일 속성을 추가 */
    text-align: center;

  }
td:last-child {
    text-align: right;
    color: rgb(128, 126, 126);
    padding-right: 20px;
  }
.font{
    font-size: 35px;
    font-weight: bold;
    color: var(--color-navy);
    padding-left: 5%;
}
.btn{
	text-align: center;
	margin-right: 20px;
}
.btn1{
    background-color: black;
    color: white;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
}
.table-wrapper {
  margin: 20px; /* 선택 사항: 여백 조절 */
}
.text{
	padding-top: 5%;
	font-size: 13px;
}
#wrap{
	margin-right: 3%;
    padding-left: 80px;
    padding-top: 100px;
    align-items: center;

}

#wrap table thead tr:first-child td:first-child {
    border-top-left-radius: 30px;
}

#wrap table thead tr:first-child td:last-child {
    border-top-right-radius: 30px;
}
#wrap table td:first-child {
    text-align: left;
}
