:root {
    --색상-검정: #0F0F0F;
    --색상-네이비: #163172;
    --색상-블루: #1E56A0;
    --색상-라이트블루: #d6e4f0;
    --색상-베이지: #F6F6F6;
}

/* detail.css */

#wrap {
    text-align: center; /* 테이블을 가운데 정렬 */
}

#tt00 {
    margin: 0 auto; /* 테이블을 가운데 정렬 */
}

.td2 td {
    text-align: center; /* 테이블 셀 안의 글자를 중앙 정렬 */
    vertical-align: middle;
    padding: 10px;
}

.td2 th {
    background-color: #163172;
    color: white;
    height: 50px;
    text-align: center; /* 테이블 헤더의 글자를 중앙 정렬 */
}


.td2 tr:first-child {
    border-top: 1px solid black;
}

.td2 tr:last-child {
    border-bottom: 1px solid black;
}

.td2 th:first-child {
    border-top-left-radius: 20px;
}

.td2 th:last-child {
    border-top-right-radius: 20px;
}