:root {
    --색상-검정: #0F0F0F;
    --색상-네이비: #163172;
    --색상-블루: #1E56A0;
    --색상-라이트블루: #d6e4f0;
    --색상-베이지: #F6F6F6;
}

body {
    margin: 0;
}

#wrap {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-top: 20px;
}

#div1 {
	text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    color:  #163172;;
}

#div4 {
    font-weight: bold;
    margin-bottom: 20px;
    text-align: right;
}

#div2 {
    margin-bottom: 25px;
    text-align: center;
}

table {
    width: 100%;
    font-size: 20px;

}

th, td {
	height: 50px;
    padding: 8px;
    text-align: left;
    letter-spacing: 1px;
    border-bottom: 1px solid lightgray;
}
#tt00 th{
	background-color: #163172;
	color: white;
	height: 50px;
	
}

button {
    padding: 10px;
    background-color: #163172;;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}
div{
	text-align: center;
}
#tt00 th,
#tt00 td{
	text-align: center;
	vertical-align: middle

}
thead{
	border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#th2 {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
table th:first-child {
    border-top-left-radius: 20px;
}

table th:last-child {
    border-top-right-radius: 20px;
}
